body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    margin: 0;
    overflow: hidden;
}

.game-container {
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.game {
    position: relative;
    width: 100%;
    height: 100%;
}

#words {
    color: white;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#spaceship {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background: url('spaceship.png') no-repeat center center;
    background-size: contain;
     
}

#gameCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: brown;
}

.score {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 18px;
}
